body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo img{
    position: relative;;
    left: 50%;
    margin-left: -200px;
    margin-bottom: -100px;
    margin-top: -75px;
    width: 400px;
}


.header h1{
    text-align: center;
}

.header h1 {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin-left: 40px;
    text-align: center;
}

.header ul {
    list-style-type: none;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
    background-color: darkkhaki;
    
}
  
.header li {
    float: left;
}
  
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}
.header li a:hover {
    background-color: plum;
}

.services {
    text-align: left;
}

.about img{
    width: 300px;

}

.column {
    float: left;
    width: 310px;
    padding: 5px;
  }
  .column:after {
      width: auto;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
