body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo img{
    position: fixed;
    left: 50%;
    margin-left: -200px;
    width: 400px;
}


.header h1{
    text-align: center;
}

.header h1 {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin-left: 40px;
    text-align: center;
}

.header ul {
    list-style-type: none;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
    background-color: darkkhaki;
    
}
  
.header li {
    float: left;
}
  
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}
.header li a:hover {
    background-color: plum;
}

.services li ul{
    text-align: left
}
.services:after {
    clear: both;
}

